fastapi>=0.110
uvicorn==0.30.6
pydantic==2.9.2
httpx==0.27.2
pandas>=2.2
polars>=0.20
pyarrow>=15
openpyxl>=3.1
python-multipart>=0.0.9
torch>=2.3
# transformers>=4.41
# torch>=2.2
# emoji
# spacy
scikit-learn>=1.3
joblib>=1.3

anyio>=4.3

pytest>=8.2
